@import url("https://fonts.googleapis.com/css2?family=Alice&family=Edu+SA+Beginner&family=Noto+Sans+Pahawh+Hmong&family=Noto+Serif:ital,wght@1,900&family=Tilt+Prism&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  background-color: #b13941;
  height: 100px;
  width: 100%;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.list {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 20px 0px;
  list-style: none;
}
.img {
  transition: all 2s ease-in-out;
}
.img:hover {
  transform: rotate3d(1, 1, 1, 360deg);
}
.anker {
  text-decoration: none;

  font-size: 20px;
  color: white;
}
.section {
  background: url(../../01_Project/IMG/banner.png) no-repeat center center/cover;
  z-index: 0.2;
  opacity: 1;
}
.h11 {
  text-align: center;
  font-size: 80px;
  padding: 72px 0px;
  color: white;
  font-family: "PT Serif";
}
.para1 {
  text-align: center;
  padding: 38px 100px;
  margin: 10px 200px;
  font-size: 21px;
  color: white;
  width: 73%;
  font-family: "PT Serif";
  justify-content: center;
  align-items: center;
}
.section {
  text-align: center;
}
.button {
  margin: 10px 0px 100px 0px;
  height: 40px;
  padding: 0px 85px;
  background-color: #b13941;
  color: #f6f1f1;
  font-family: "PT Serif";
}
.button:hover {
  margin: 10px 0px 55px 0px;
  height: 35px;
  padding: 0px 85px;
  background-color: #f7f4f4;
  color: #e10a0a;
  font-family: "PT Serif";
  border-radius: 10px;
}

.container1 {
  display: flex;
}
.section1 {
  background-color: #b13941;
}
.img1 {
  padding: 10px;
  margin: 70px 50% 40px 100px;
  height: 230px;
  width: 214px;

  margin-right: 127px;
}
.content {
  padding: 0px 0px 30px 0px;
}
.h3 {
  margin-top: 30px;
  padding: 60px 0px 10px 00px;
  color: white;
  font-size: 35px;
  font-family: "PT Serif";
}
.image {
  margin-left: 100px;
}
.h1 {
  padding: 0px 0px 0px 0px;
  font-family: "PT Serif";
  color: white;
  font-size: 60px;
}
.para {
  padding: 20px 100px 20px 0px;
  font-family: "PT Serif";
  color: white;
}
.buttton1 {
  height: 35px;
  padding: 0px 85px;
  color: #b13941;
}
.buttton1:hover {
  height: 35px;
  padding: 0px 85px;
  color: #c9b8b9;
  background-color: #b13941;
  font-family: "Alice", serif;
  font-family: "Edu SA Beginner", cursive;
  font-family: "Noto Sans Pahawh Hmong", sans-serif;
  font-family: "Noto Serif", serif;
  font-family: "Tilt Prism", cursive;
}
.section2 {
  display: flex;
}
.cup {
  width: 30%;
}
.cup-image {
  width: 100%;
}
.content2 {
  background-color: #f8eed3;
  width: 100%;
}

.header2 {
  margin: 10px 20px 10px 100px;
  font-size: 60px;
}
.para3 {
  margin: 10px 100px 25px 100px;
  padding: 0px 100px 0px 0px;
  font-size: 20px;
}
.section2 a {
  margin: 0px 20px 10px 100px;
  padding: 40px 0px;
  font-size: 20px;
}
.section3 {
  width: 100%;
  text-align: center;
  background-color: #b13941;
  padding: 20px 0px;
}
.menu {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 20px;
  padding: 10px 15px;
}
.header3 {
  color: white;
  font-size: 50px;
}
.para5 {
  padding: 20px;
  color: white;
}

.box3,
.box2,
.box1 {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;

  height: 300px;
}
.list-item1,
.list-item2,
.list-item3 {
  background-color: white;
  padding-top: 10px;
}
.item1 {
  background: url(../../../Project/01_Project/IMG/1.png);
  background-size: cover;
  height: 100%;
  width: 100%;
}
.item2 {
  background: url(../../../Project/01_Project/IMG/2.png);
  background-size: cover;
  height: 100%;
  width: 100%;
}
.item3 {
  background: url(../../../Project/01_Project/IMG/3.png);
  background-size: cover;
  height: 100%;
  width: 100%;
}
.para4 {
  padding-top: 30px;
}

.Button03 {
  margin-top: 30px;
  width: 60%;
  height: 30px;
  background-color: #b13941;
  color: white;
}
.section4 {
  width: 100%;
  text-align: center;
  background-color: rgb(224, 207, 175);
  padding: 20px 0px;
  height: 100vh;
}
.menu1 {
  width: 100%;
  
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 70px;
  padding: 10px 15px;
}

.para-4 {
  padding: 10px;
  color: black;
}
.header-4{
    font-size: 50px;
    color: #b13941;
    
}
.parag-4{
    color: #b13941;margin: 10px;
}

.box-3,
.box-2,
.box-1 {
  width: 100%;
  

  height: 300px;
}
.list-item-1,
.list-item-2,
.list-item-3 {
  background-color: white;
  padding-top: 10px;

}
.item-1 {
  background: url(../../../Project/01_Project/IMG/photo1.png);
  background-size: cover;
  height: 100%;
  width: 100%;
}
.item-2 {
  background: url(../../../Project/01_Project/IMG/photo2.png);
  background-size: cover;
  height: 100%;
  width: 100%;
}
.item-3 {
  background: url(../../../Project/01_Project/IMG/photo3.png);
  background-size: cover;
  height: 100%;
  width: 100%;
}
.para-4 {
  padding-top: 30px;
}

.Button-03 {
  
  width: 60%;
  height: 30px;
  background-color: #b13941;
  color: white;
  margin: 30px 0px 30px 0px;
}
.section5{
    background-color: #b13941;
    height: 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.video{
    background: url(../../../Project/01_Project/IMG/video1.png) no-repeat center center/cover;
    width: 80%;
    background-repeat: no-repeat;
    background-size:contain;
    margin-left: 45px;
    
    
}
.Company{
text-align: left;
justify-content: center;
margin: auto 0px;

}
.Profile-1{
font-size: 50px;
color: white;
margin-bottom: 30px;
}
.laoreet{
    color: white;
    margin: 20px 0px;
}
.icon1{
    height: 50px;
    width: 50px;
    margin: 0px 25px;
}
.map{
    width: 10%;
}
.face,.insta,.twitt{
    height: 150px;
    width: 150px;
    font-size: 40px;
    margin-top: 20px;
    /* padding: 5px 30px; */
}
.section6{
    display: grid;
    grid-template-columns: auto auto;

}
.form{
    margin: auto;
    text-align: start;
}
.name1{
    width: 100%;
    height: 200px;
    margin-top: 30px;
    
}
.grnder2{
    width: 100%;
    height: 200px;
}
.address3{
    width: 100%;
    height: 200px;
}
.name{
    font-size: 20px;
    width: 100%;
    margin-top: 10px;
     
}
.gender{
    margin-top: 15px;
    width: 100%;
    font-size: 20px;
}
.address{
    margin-top: 13px;
    width: 100%;
    font-size: 20px;
}
.send-message1{
    margin-top: 20px;
    width: 200px;
    height: 50px;
    font-size: 10   px;
    background-color: #b13941;
    color:white;
}
.h1-header{
    margin: 30px;
}
.section7{
    background-color: #b13941;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.footer-image{
    height: 230px;
    width: 200px;
    margin-top: 20px;
}
.fb-heading-1{
    margin: 20px 10px 20px 10px;
    padding: 10px;
    color: white;
}
.fb-para-1{
    margin: 10px 10px 10px 10px;
    padding: 10px;
    color: white;
}
.feedback2 a{
    color: white;
    text-decoration: none;

}
.feedback1,.feedback2,.feedback3,.feedback4, .feedback5{
 margin: auto;
 padding: 0px 20px 0px 20px ;
}

.feedback6{
    padding: 0px 20px 0px 20px;
    margin: auto;
    text-align: center;
}
.fb-para{
    padding: 10px 20px 10px 20px;
    color: white;
    
}
.fb-last{
margin: 20px;
height: 80px;
width: 80px;
}
.last-fb{
padding-bottom: 20px;
color: white;
}
.facer,.instar,.twittr{
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    color: white;
}
.fb-header{
    color: white;
    margin-top: 30px;
}