*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 10px;
    margin: 20px;
}
div{
    margin: 20px;
}
.border{
   
   border: 2px solid palevioletred;
   
}
.border01{
    border: 2px solid rgb(147, 38, 38);
    border-top-width: 30px;
 
}
.border02{
    border: 2px solid rgb(202, 199, 34);
    border-bottom-width: 30px;
    
    
}
.border03{
    border: 2px solid rgb(54, 25, 168);
    border-left-width: 30px;
}
.border04{
    
border: 2px solid lightcoral;
border-right-width: 30px;
}