*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.border01{
    border-inline-start: solid;
}
.border02{
    border-inline-end: solid;
}
.border03{
    border-inline-start-color: solid dodgerblue;
}
.border04{
    border-inline-end-color:  red;
}
.border05{
    border-inline-start: solid;
}
.border06{
    border-inline-start: solid;
}
body{
    padding: 10px;
    margin: 20px;
}
div{
    margin: 20px;
}