* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.unorder {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  gap: 0px 10px;

  height: 100px;
  padding: 100px 10px;
  padding-left: 60px;
  margin-top: 30px;
  /* margin-right: 25px; */
}
.unorder[class*="list"] {
  /* text-align: center; */
}
.content1 {
  background: url(../../../Project/02_Project/IMG/img1.png);
}
.content2 {
}
.list1,
.list2,
.list3,
.list4,
.list5 {
  list-style: none;
}

.button2 {
  padding: 8px 20px;
  background-color: #4012cb;
  color: white;
  border-radius: 5px;
  font-weight: bold;
}
.header {
  display: grid;
  grid-template-columns: 30% 65%;
  height: 100vh;
  width: 100vw;
}
.abc {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.box1 {
  padding-left: 100px;
}
.head1 {
  font-size: 75px;
}
.para1 {
  font-size: 14px;
  padding-top: 50px;
  padding-bottom: 40px;
  font-weight: bold;
  margin-right: 50%;
}
.button1 {
  padding: 8px 20px;
  font-weight: bold;
  background-color: #f6f6f8;
  margin-top: 30px;
  color: #4012cb;
  border: 2px solid #4012cb;
  border-radius: 5px;
  font-weight: bold;
}
.section1 {
  background-color: #4012cb;
}
.head3 {
  text-align: end;
}
.content3 {
  display: grid;
  grid-template-columns: 50% 50%;
}
.para2 {
  text-align: end;
  padding-left: 50px;
  color: white;
}
.head3 {
  color: white;
}
.para3 {
  color: white;
  padding-top: 20px;
}

.para4 {
  text-align: end;
  padding-right: 90px;
  color: white;
  margin-top: 35px;
}
.ero {
  color: whitesmoke;

  text-decoration: none;
  font-size: 25px;
}
.box4,
.box3 {
  margin: 12% 15%;
}
.section2 {
  height: 400px;
}
.head5 {
  text-align: center;
}
.button3 {
  text-align: center;

  padding: 10px 25px;
  border: 2px solid #4012cb;
  color: #4012cb;
  border-radius: 5px;
  font-weight: bold;
}
.para6 {
  margin-top: 35px;
  text-align: center;
}
.head6 {
  text-align: center;
  font-size: 100px;
  margin-top: 10%;
}
.box6{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
}
.box-1{
  text-align: center;
}
.box-2{
text-align: center;
}
